.main {
  height: 100vh;
  background-color: #020120;
  color: white;
}
.glassyBox {
  width: 640px;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.5);
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  margin-left: 100px;
}
.glassyBox p {
  text-align: left;
  font-size: 32px;
  animation: fade-In 1s ease-in-out;
}
.image {
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 150px;
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  height: 500px;
  object-fit: cover;
  animation: fade-In 1s ease-in-out;
}

.heading {
  font-size: 4rem;
  text-align: center;
  animation: fade-In 1s ease-in;
  padding: 40px;
}

@keyframes fade-In {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
