.main {
  height: 100vh;
  background-color: #020120;
  color: white;
  overflow: hidden;
  margin-top: 4rem;
}

.glassyBox {
  width: 640px;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.5);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.glassyBox p {
  text-align: left;
  font-size: 1.5rem;
  animation: fade-Right 1s ease-in-out;
}
.image {
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  height: 450px;
  object-fit: cover;
  animation: fade-Left 1s ease-in-out;
}

.heading {
  font-size: 5rem;
  text-align: center;
  animation: fade-In 1s ease-in;
  padding: 40px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
  animation: fade-Up 1s ease-in;
  margin: 1rem;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(255, 248, 248, 0.5);
}

@keyframes fade-In {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-Up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-Left {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-Right {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Media Queries */
