.container {
  width: 100%;
  height: 100vh;
}

.home {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  font-size: 4rem;
}

.home > p {
  width: 80%;
  font-weight: 400;
  background: -webkit-linear-gradient(left, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: slideUp 1.5s ease-in-out;
}

.subheading {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 2rem;
  color: #ddd !important;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
  color: #fff !important;
  animation: slideUp 1s ease-in-out;
}

.button1,
.button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.button1 {
  background-color: var(--brand);
  color: #fff;
}

.button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button1 > span {
  color: white;
}

.span {
  color: var(--primary-color);
  background: -webkit-linear-gradient(right, #f0ac47, var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Media queries */
@media (max-width: 1366px) {
  .home {
    padding: 2rem;
  }

  .glassyBox {
    width: 45vw;
    padding: 1rem;
  }

  .glassyBox p {
    padding: 3rem;
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  .home {
    padding: 2rem;
    justify-content: center;
  }

  .glassyBox {
    width: 100%;
    padding: 1rem;
  }

  .glassyBox p {
    padding: 2rem;
    font-size: 2rem;
  }
}
