.container {
  height: 100vh;
  background: linear-gradient(
    135deg,
    #fff89a 0%,
    #9be19d 25%,
    #8ca8dc 50%,
    #5278ff 100%
  );
}

.home {
  display: flex;
  padding: 4rem;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.glassyBox {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.5);
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  animation: slideLeft 1s ease-out forwards;
}

.glassyBox p {
  margin: 0;
  padding: 4.5rem;
  font-size: 4rem;
  font-weight: bold;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Media queries */
@media (max-width: 1366px) {
  .home {
    padding: 2rem;
  }

  .glassyBox {
    width: 45vw;
    padding: 1rem;
  }

  .glassyBox p {
    padding: 3rem;
    font-size: 3rem;
  }
}
