.container {
  height: 100vh;
}

.home {
  display: flex;
  padding: 65px;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.glassyBox {
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  padding: 64px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.5);
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.glassyBox p {
  margin: 0;
  padding: 78px;
  font-size: 64px;
  font-weight: bold;
}
