.main {
  background-color: #020120;
  color: white;
  margin-top: 7vh;
  margin-bottom: 100vh;
}

.heading {
  text-align: center;
  font-size: 7rem;
  padding: 40px;
}

/* Media Queries */
@media (max-width: 1366px) {
  .heading {
    font-size: 5rem;
  }
}
